<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AddFilters</filter-name>
        <filter-class>filter.RoleFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AddFilters</filter-name>
        <url-pattern>/adminstaff</url-pattern>
        <url-pattern>/userAdmin</url-pattern>
        <url-pattern>/productAdmin</url-pattern>
        <url-pattern>/list-blog-admin</url-pattern>
        <url-pattern>/ordermanager</url-pattern>
        <url-pattern>/guarantee</url-pattern>
        <url-pattern>/addstaff</url-pattern>
        <url-pattern>/listdeletestaff</url-pattern>
        <url-pattern>/updatestaff</url-pattern>
        <url-pattern>/deletestaff</url-pattern>
        <url-pattern>/listUserDelete</url-pattern>
        <url-pattern>/deleteUser</url-pattern>
        <url-pattern>/deleteCheckboxUser</url-pattern>
        <url-pattern>/productAdmin</url-pattern>
        <url-pattern>/addProductAdmin</url-pattern>
        <url-pattern>/listDelete</url-pattern>
        <url-pattern>/deleteProduct</url-pattern>
        <url-pattern>/updateProduct</url-pattern>
        <url-pattern>/deleteCheckbox</url-pattern>
        <url-pattern>/addblog</url-pattern>
        <url-pattern>/edit-blog</url-pattern>
        <url-pattern>/delete-blog</url-pattern>
        <url-pattern>/delete-checkbox-news</url-pattern>
        <url-pattern>/orderdetailmanagement</url-pattern>
        <url-pattern>/updateorder</url-pattern>
        <url-pattern>/guaranteeAdd</url-pattern>
        <url-pattern>/guaranteeInfo</url-pattern>
        <url-pattern>/guaranteeUpdate</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>developProduct</servlet-name>
        <servlet-class>Controller.DeleteProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productAdmin</servlet-name>
        <servlet-class>Controller.ProductAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productClient</servlet-name>
        <servlet-class>Controller.ProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserAdmin</servlet-name>
        <servlet-class>Controller.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBlog</servlet-name>
        <servlet-class>Controller.AddBlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListBlogController</servlet-name>
        <servlet-class>Controller.ListBlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBlog</servlet-name>
        <servlet-class>Controller.DeleteBlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogControllerUser</servlet-name>
        <servlet-class>Controller.Blog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogController</servlet-name>
        <servlet-class>Controller.BlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteProduct</servlet-name>
        <servlet-class>Controller.DeleteProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateProduct</servlet-name>
        <servlet-class>Controller.UpdateAdminProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>orderDetailManager</servlet-name>
        <servlet-class>Controller.OrderDetailManagement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listUserDelete</servlet-name>
        <servlet-class>Controller.ListUserDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userController</servlet-name>
        <servlet-class>Controller.userExController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchUser</servlet-name>
        <servlet-class>Controller.SearchUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listDelete</servlet-name>
        <servlet-class>Controller.ListDeleteProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchAdminProduct</servlet-name>
        <servlet-class>Controller.SearchAdminProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteCheckboxUsser</servlet-name>
        <servlet-class>Controller.DeleteCheckboxUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteUser</servlet-name>
        <servlet-class>Controller.DeleteUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBlogController</servlet-name>
        <servlet-class>Controller.EditBlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCheckboxNewsController</servlet-name>
        <servlet-class>Controller.DeleteCheckBoxNewsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteCheckBox</servlet-name>
        <servlet-class>Controller.DeleteCheckBoxController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listTop</servlet-name>
        <servlet-class>Controller.ListTopUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminStaff</servlet-name>
        <servlet-class>Controller.AdminStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStaff</servlet-name>
        <servlet-class>Controller.DeleteStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListDeleteStaff</servlet-name>
        <servlet-class>Controller.ListDeleteStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStaff</servlet-name>
        <servlet-class>Controller.AddStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailsAdmin</servlet-name>
        <servlet-class>Controller.ProductDetailsAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UndoStaff</servlet-name>
        <servlet-class>Controller.UndoStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStaff</servlet-name>
        <servlet-class>Controller.UpdateStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAccount</servlet-name>
        <servlet-class>Controller.AdminAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogDetail</servlet-name>
        <servlet-class>Controller.BlogDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RollBackController</servlet-name>
        <servlet-class>Controller.RollBackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RollBackCheckbox</servlet-name>
        <servlet-class>Controller.RollBackCheckboxController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductAdmin</servlet-name>
        <servlet-class>Controller.AddProductAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>Controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeBlogController</servlet-name>
        <servlet-class>Controller.HomeBlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchNews</servlet-name>
        <servlet-class>Controller.SearchNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RollBackCheckBoxController</servlet-name>
        <servlet-class>Controller.RollBackCheckBoxUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RollBackUser</servlet-name>
        <servlet-class>Controller.RollBackUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUser</servlet-name>
        <servlet-class>Controller.UpdateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageHandle</servlet-name>
        <servlet-class>Controller.ImageHandle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadBrandAjax</servlet-name>
        <servlet-class>Controller.LoadBrandAjax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetail</servlet-name>
        <servlet-class>Controller.ProductDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderAjaxHandle</servlet-name>
        <servlet-class>Controller.OrderAjaxHandle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TableAddOrder</servlet-name>
        <servlet-class>Controller.TableAddOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddOrder</servlet-name>
        <servlet-class>Controller.AddOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateUserClient</servlet-name>
        <servlet-class>Controller.UpdateUserClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartAjaxHandle</servlet-name>
        <servlet-class>Controller.CartAjaxHandle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductControllerClient</servlet-name>
        <servlet-class>Controller.ProductControllerClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCart</servlet-name>
        <servlet-class>Controller.ShowCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderHistory</servlet-name>
        <servlet-class>Controller.OrderHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetail</servlet-name>
        <servlet-class>Controller.OrderDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxServel</servlet-name>
        <servlet-class>Controller.ajaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentInCash</servlet-name>
        <servlet-class>Controller.PaymentInCash</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Checkout</servlet-name>
        <servlet-class>Controller.Checkout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Vnp_Return</servlet-name>
        <servlet-class>Controller.Vnp_Return</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>developProduct</servlet-name>
        <url-pattern>/developProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productAdmin</servlet-name>
        <url-pattern>/productAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productClient</servlet-name>
        <url-pattern>/productClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserAdmin</servlet-name>
        <url-pattern>/userAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBlog</servlet-name>
        <url-pattern>/addblog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListBlogController</servlet-name>
        <url-pattern>/list-blog-admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBlog</servlet-name>
        <url-pattern>/delete-blog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogControllerUser</servlet-name>
        <url-pattern>/list-blog-user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogController</servlet-name>
        <url-pattern>/blogs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteProduct</servlet-name>
        <url-pattern>/deleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateProduct</servlet-name>
        <url-pattern>/updateProduct</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>OrderManager</servlet-name>
        <servlet-class>Controller.OrderManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateOrder</servlet-name>
        <servlet-class>Controller.UpdateOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailManagement</servlet-name>
        <servlet-class>Controller.OrderDetailManagement</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderManager</servlet-name>
        <url-pattern>/ordermanager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateOrder</servlet-name>
        <url-pattern>/updateorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orderDetailManager</servlet-name>
        <url-pattern>/orderdetailmanagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listUserDelete</servlet-name>
        <url-pattern>/listUserDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userController</servlet-name>
        <url-pattern>/userController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchUser</servlet-name>
        <url-pattern>/searchUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listDelete</servlet-name>
        <url-pattern>/listDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchAdminProduct</servlet-name>
        <url-pattern>/searchAdminProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteCheckboxUsser</servlet-name>
        <url-pattern>/deleteCheckboxUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteUser</servlet-name>
        <url-pattern>/deleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBlogController</servlet-name>
        <url-pattern>/edit-blog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCheckboxNewsController</servlet-name>
        <url-pattern>/delete-checkbox-news</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteCheckBox</servlet-name>
        <url-pattern>/deleteCheckbox</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listTop</servlet-name>
        <url-pattern>/listTopUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminStaff</servlet-name>
        <url-pattern>/adminstaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStaff</servlet-name>
        <url-pattern>/deletestaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListDeleteStaff</servlet-name>
        <url-pattern>/listdeletestaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStaff</servlet-name>
        <url-pattern>/addstaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailsAdmin</servlet-name>
        <url-pattern>/productDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UndoStaff</servlet-name>
        <url-pattern>/undostaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStaff</servlet-name>
        <url-pattern>/updatestaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAccount</servlet-name>
        <url-pattern>/adminaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RollBackController</servlet-name>
        <url-pattern>/rollback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RollBackCheckbox</servlet-name>
        <url-pattern>/rollbackCheckbox</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductAdmin</servlet-name>
        <url-pattern>/addProductAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeBlogController</servlet-name>
        <url-pattern>/home-blog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchNews</servlet-name>
        <url-pattern>/search-news</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RollBackCheckBoxController</servlet-name>
        <url-pattern>/rollbackCheckboxUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RollBackUser</servlet-name>
        <url-pattern>/rollbackUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUser</servlet-name>
        <url-pattern>/updateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageHandle</servlet-name>
        <url-pattern>/ImageHandle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadBrandAjax</servlet-name>
        <url-pattern>/brand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderAjaxHandle</servlet-name>
        <url-pattern>/orderajaxhandle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TableAddOrder</servlet-name>
        <url-pattern>/tableaddorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddOrder</servlet-name>
        <url-pattern>/addorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateUserClient</servlet-name>
        <url-pattern>/updateUserClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartAjaxHandle</servlet-name>
        <url-pattern>/cartajaxhandle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductControllerClient</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCart</servlet-name>
        <url-pattern>/showcart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderHistory</servlet-name>
        <url-pattern>/orderhistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetail</servlet-name>
        <url-pattern>/orderdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxServel</servlet-name>
        <url-pattern>/vnpayajax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentInCash</servlet-name>
        <url-pattern>/paymentincash</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Checkout</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Vnp_Return</servlet-name>
        <url-pattern>/vnp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetail</servlet-name>
        <url-pattern>/productDetail/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogDetail</servlet-name>
        <url-pattern>/blog-detail/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
